[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=USERNAME
Group=www-data
WorkingDirectory=/home/USERNAME/WebChatApp
ExecStart=/home/USERNAME/WebChatApp/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          ChatServerPlayground.wsgi:application

[Install]
WantedBy=multi-user.target
